name: C/C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Install lex/yacc deps
      run: sudo apt-get update && sudo apt-get install -y flex bison libfl-dev
    - name: make
      run: make
      working-directory: src
